pkgbase = r3dvoice-bin
	pkgdesc = Discord-style low-latency voice, video & screenshare for gamers (Electron + LiveKit)
	pkgver = 0.11.0
	pkgrel = 1
	url = https://github.com/R3dWolfie/R3DVoice
	arch = x86_64
	license = AGPL-3.0-or-later
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = hicolor-icon-theme
	optdepends = pipewire: screenshare audio capture
	optdepends = libpulse: system audio capture
	provides = r3dvoice
	conflicts = r3dvoice
	noextract = R3DVoice-0.11.0.AppImage
	options = !strip
	source = R3DVoice-0.11.0.AppImage::https://github.com/R3dWolfie/R3DVoice/releases/download/v0.11.0/R3DVoice.AppImage
	sha256sums = 7ed3359f6893a6e14731669aecdfced6d39884b7ad46a0156d6e02e1fbbea5a9

pkgname = r3dvoice-bin
